<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div id="plist" class="people-list">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search..." />
          </div>
          <ul class="list-unstyled chat-list mt-2 mb-0">
            <li
              *ngFor="let item of groups; index as i"
              [ngClass]="{ active: item._id === groupId }"
              class="clearfix my-2"
              (click)="onChangeUser(item._id)"
            >
              <h6 class="text-truncate" style="max-height: 1.6rem">
                {{ item?.postId?.title }}
              </h6>
              <img
                src="https://bootdey.com/img/Content/avatar/avatar2.png"
                alt="avatar"
              />
              <div class="about">
                <div
                  class="name w-100"
                  *ngIf="
                    item?.sellerId?.fullName === currentUser;
                    else templateCurrentUser
                  "
                >
                  {{ item?.sellerId?.fullName }}
                </div>
                <ng-template #templateCurrentUser>
                  <div class="name w-100">{{ item?.buyerId?.fullName }}</div>
                </ng-template>
              </div>
            </li>
          </ul>
        </div>
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-6">
                <a
                  href="javascript:void(0);"
                  data-toggle="modal"
                  data-target="#view_info"
                >
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                    alt="avatar"
                    *ngIf="groupId"
                  />
                </a>
                <div class="chat-about">
                  <h6 class="m-b-0">{{ currentUser }}</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-history" #scrollMe>
            <ul class="m-b-0">
              <li class="clearfix" *ngFor="let message of messages">
                <div
                  class="message other-message float-right"
                  *ngIf="
                    message?.userId?.fullName !== currentUser;
                    else template
                  "
                >
                  {{ message.text }}
                </div>

                <ng-template #template>
                  <div class="message-data">
                    <span class="message-data-time">{{
                      message?.createdAt | timeAgo
                    }}</span>
                  </div>
                  <div class="message my-message">
                    {{ message.text }}
                  </div>
                </ng-template>
              </li>
            </ul>
          </div>
          <div class="chat-message clearfix">
            <form
              class="w-100"
              [formGroup]="myForm"
              (ngSubmit)="onSubmitMessage()"
            >
              <div class="input-group mb-0">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập tin nhắn..."
                  formControlName="text"
                />
                <div class="input-group-prepend d-flex border rounded">
                  <button type="submit" class="border-0">
                    <span class="input-group-text border-0"
                      ><i class="bi bi-send"></i
                    ></span>
                  </button>
                  <span
                    ><a
                      href="javascript:void(0);"
                      class="btn btn-outline-primary border-0"
                      ><i class="bi bi-image"></i></a
                  ></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
