<h1>{{ title }}</h1>
<div class="container">
  <div class="row gap-5 my-5">
    <div
      *ngFor="let post of posts"
      class="col-2 border rounded cursor-pointer"
      [routerLink]="['/post-detail']"
      [queryParams]="{ id: post?._id }"
    >
      <div class="card border-0 mx-auto text-center" style="width: 10rem">
        <div style="height: 10rem">
          <img
            src="{{endpointURL+'/'+post?.imagePath?.[0]}}"
            class="img-fluid rounded-start w-100 h-100"
            style="object-fit: cover; object-position: center"
            alt="{{endpointURL+'/'+post?.imagePath?.[0]}}"
          />
        </div>
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5 text-truncate">
            {{ post?.title }}
          </p>
          <p class="card-text fs-5 text-danger">
            {{ post?.totalPrice | postCurrency }}
          </p>
          <p class="card-text fs-5 text-secondary">
            {{
              post?.promotedStartDate || post?.createdAt | date : "dd/MM h:mm a"
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center" *ngIf="isPagination">
  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
