<form
  class="container"
  style="max-width: 30rem"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <div class="mb-3">
    <label class="form-label">Nhập số điện thoại</label>
    <input type="text" class="form-control" formControlName="phoneNumber" />
  </div>
  <div class="mb-3">
    <label class="form-label">Nhập mật khẩu</label>
    <input type="password" class="form-control" formControlName="password" />
  </div>
  <button type="submit" class="btn btn-primary me-3">Đăng nhập</button>
  <button type="submit" class="btn btn-primary" [routerLink]="['/register']">
    Đăng ký
  </button>
</form>
