<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <div class="mb-3">
      <label class="form-label">Chọn danh mục bài đăng</label>
      <select
        class="form-select"
        aria-label="Default select example"
        required
        name="categoryName"
        (change)="onChange($event.target)"
      >
        <option selected>Chọn danh mục bài đăng</option>
        <option
          *ngFor="let category of categories; index as i"
          value="{{ category.value }}"
        >
          {{ category.label }}
        </option>
      </select>
    </div>
  </div>
</div>
