<h5>Khám phá danh mục</h5>
<div class="container text-center">
  <div class="row gap-5 my-5">
    <div class="col-2 border rounded cursor-pointer">
      <div class="card border-0 mx-auto" style="width: 10rem">
        <img
          src="assets/images/category/chungcu.jpg"
          class="card-img-top"
          alt="assets/images/category/batdongsan.jpg"
          style="
            width: 10rem;
            object-fit: cover;
            object-position: center;
            height: 10rem;
          "
        />
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5">Chung cư</p>
        </div>
      </div>
    </div>
    <div class="col-2 border rounded cursor-pointer">
      <div class="card border-0 mx-auto" style="width: 10rem">
        <img
          src="assets/images/category/dat.jpg"
          class="card-img-top"
          alt="assets/images/category/batdongsan.jpg"
          style="
            width: 10rem;
            object-fit: cover;
            object-position: center;
            height: 10rem;
          "
        />
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5">Đất</p>
        </div>
      </div>
    </div>
    <div class="col-2 border rounded cursor-pointer">
      <div class="card border-0 mx-auto" style="width: 10rem">
        <img
          src="assets/images/category/dienthoai.jpg"
          class="card-img-top"
          alt="assets/images/category/batdongsan.jpg"
          style="
            width: 10rem;
            object-fit: cover;
            object-position: center;
            height: 10rem;
          "
        />
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5">Điện thoại</p>
        </div>
      </div>
    </div>
    <div class="col-2 border rounded cursor-pointer">
      <div class="card border-0 mx-auto" style="width: 10rem">
        <img
          src="assets/images/category/laptop.jpg"
          class="card-img-top"
          alt="assets/images/category/batdongsan.jpg"
          style="
            width: 10rem;
            object-fit: cover;
            object-position: center;
            height: 10rem;
          "
        />
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5">Laptop</p>
        </div>
      </div>
    </div>
    <div class="col-2 border rounded cursor-pointer">
      <div class="card border-0 mx-auto" style="width: 10rem">
        <img
          src="assets/images/category/nha.jpg"
          class="card-img-top"
          alt="assets/images/category/batdongsan.jpg"
          style="
            width: 10rem;
            object-fit: cover;
            object-position: center;
            height: 10rem;
          "
        />
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5">Nhà</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row gap-5 my-5">
    <div class="col-2 border rounded cursor-pointer">
      <div class="card border-0 mx-auto" style="width: 10rem">
        <img
          src="assets/images/category/phongtro.jpg"
          class="card-img-top"
          alt="assets/images/category/batdongsan.jpg"
          style="
            width: 10rem;
            object-fit: cover;
            object-position: center;
            height: 10rem;
          "
        />
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5">Phòng trọ</p>
        </div>
      </div>
    </div>
    <div class="col-2 border rounded cursor-pointer">
      <div class="card border-0 mx-auto" style="width: 10rem">
        <img
          src="assets/images/category/vanphong.jpg"
          class="card-img-top"
          alt="assets/images/category/batdongsan.jpg"
          style="
            width: 10rem;
            object-fit: cover;
            object-position: center;
            height: 10rem;
          "
        />
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5">Văn phòng</p>
        </div>
      </div>
    </div>
    <div class="col-2 border rounded cursor-pointer">
      <div class="card border-0 mx-auto" style="width: 10rem">
        <img
          src="assets/images/category/xedien.jpg"
          class="card-img-top"
          alt="assets/images/category/batdongsan.jpg"
          style="
            width: 10rem;
            object-fit: cover;
            object-position: center;
            height: 10rem;
          "
        />
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5">Xe điện</p>
        </div>
      </div>
    </div>
    <div class="col-2 border rounded cursor-pointer">
      <div class="card border-0 mx-auto" style="width: 10rem">
        <img
          src="assets/images/category/xehoi.jpg"
          class="card-img-top"
          alt="assets/images/category/batdongsan.jpg"
          style="
            width: 10rem;
            object-fit: cover;
            object-position: center;
            height: 10rem;
          "
        />
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5">Xe hơi</p>
        </div>
      </div>
    </div>
    <div class="col-2 border rounded cursor-pointer">
      <div class="card border-0 mx-auto" style="width: 10rem">
        <img
          src="assets/images/category/xemay.jpg"
          class="card-img-top"
          alt="assets/images/category/batdongsan.jpg"
          style="
            width: 10rem;
            object-fit: cover;
            object-position: center;
            height: 10rem;
          "
        />
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5">Xe máy</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h5>Tin đăng mới</h5>
<div class="container">
  <div class="row gap-5 my-5">
    <div
      *ngFor="let post of postList"
      class="col-2 border rounded cursor-pointer"
      [routerLink]="['/post-detail']"
      [queryParams]="{ id: post?._id }"
    >
      <div class="card border-0 mx-auto text-center" style="width: 10rem">
        <img
          src="assets/images/category/chungcu.jpg"
          class="card-img-top"
          alt="assets/images/category/batdongsan.jpg"
          style="
            width: 10rem;
            object-fit: cover;
            object-position: center;
            height: 10rem;
          "
        />
      </div>
      <div>
        <div class="card-body my-2">
          <p class="card-text fs-5">{{ post.title }}</p>
          <p class="card-text fs-5 text-danger">{{ post.totalPrice }} đ</p>
          <p class="card-text fs-5 text-secondary">
            {{ post.createdAt | timeAgo }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
